<?xml version="1.0" encoding="utf-8"?>
<config>
    <int name="window_x">475</int>
    <int name="window_y">50</int>
    <int name="window_width">600</int>
    <int name="window_height">360</int>
	<int name="dropdown_maxSize">4</int>
	
    <string name="window_title">Select Tech Tree</string>
    <string name="intro_text">Greetings, I'm Wernher Von Kerman in charge of Research and Development here at KSC.  At R&amp;D we take the science you collect and use it to develop new parts for you to blow up.

Before we get started though, you have the YongeTech Tech Trees mod installed which allow us to select the technology tree we want to research for this space program.  You should pick one of the trees from the list below and we will load it up in the Research and Development Complex for you.</string>
	<string name="conferm_text">I've picked the tree I want</string>
	
	<string name="portrait_textureUrl">YongeTech_TechTreesPlugin/Textures/WernherVonKerman</string>
	<string name="portrait_name">Wernher Von Kerman</string>
	
	<string name="dropdownArrow_textureUrl">YongeTech_TechTreesPlugin/Textures/dropdownArrow</string>
	<string name="dropdownArrowOpen_textureUrl">YongeTech_TechTreesPlugin/Textures/dropdownArrow</string>
	
	<string name="stockTree_url">GameData/Squad/Resources/TechTree.cfg</string>
	<string name="stockTree_title">Stock Tree</string>
	<string name="stockTree_description">Default tech tree for Kerbal Space Program.</string>
	
	<int name="RDNodeMaxCost_level1">100</int>
	<int name="RDNodeMaxCost_level2">500</int>
	
	<bool name="allowTreeSelection">1</bool>
</config>